/* Fondo siempre negro */
.background{
  background:#000;
  background-image:none;
}

/* Logo en idle */
.logo,.splash{
  background-image:url("https://mun0n.github.io/cast-receiver-soundtoro/assets/logo.png");
  background-repeat:no-repeat;
  background-position:center center;
  background-size:38%;
  background-color:#000;
}

.watermark{
  background-image:url("https://mun0n.github.io/cast-receiver-soundtoro/assets/logo.png");
  background-size: 57px 57px;                      /* no interfiere con UI */
}

/* Color de progreso */
.progressBar{ background-color:#FFB000; }
