/* Fondo siempre negro */
.background{
  background:#000;
  background-image:none;
}

/* Logo en idle */
.logo,.splash{
  background-image:url("https://mun0n.github.io/cast-receiver-soundtoro/assets/logo.png");
  background-repeat:no-repeat;
  background-position:center center;
  background-size:38%;
  background-color:#000;
}

/* --- LOGO DURANTE REPRODUCCIÓN (watermark) --- */
/* Forzamos que exista y se vea, colocado a la derecha */
.watermark{
  display:block !important;                 /* por si viene oculto */
  background-image:url("https://mun0n.github.io/cast-receiver-soundtoro/assets/logo.png") !important;
  background-repeat:no-repeat !important;
  background-position:right 5% center !important;  /* derecha, centrado vertical */
  background-size:18% !important;                  /* ajusta 15–22% a tu gusto */
  opacity:.22 !important;                          /* discreto */
  pointer-events:none;                             /* no interfiere con UI */
}

/* Color de progreso */
.progressBar{ background-color:#FFB000; }
