.background {
  background-color: #000000;
  background-image: none;
}

.logo,
.splash {
  background-image: url("./assets/SoundToro 8.png"); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: #000000;
}

.watermark {
  background-image: none;
}

.progressBar {
  background-color: #FFB000;
}
